/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-size: 18px;
  font-weight: 300, 400, 600;
  font-family: 'Outfit', sans-serif;
}

.nft-grid {
  display: grid;
  justify-content: center;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);

}

.grid-col-2 {
  grid-column: 2 / 3;
  padding: 20px 20px 20px 20px;
  background-color: hsl(216, 50%, 16%);
  border-style: solid;
  border-width: thin;
  border-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  margin-top: 100px;
  max-width: 375px;
}

p,
h2 {
  color: hsl(0, 0%, 100%);
  margin: 10px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: hsl(215, 32%, 27%);
  border-width: thin;
}

.avatar {
  width: 10%;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  float: left;
}

.softblue {
  color: hsl(215, 51%, 70%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.item-3 {
  margin-left: 100px;

}

.hovering:hover {
color: hsl(178, 100%, 50%);
}

.img-top {
  display: none;
  position: absolute;
  background-color:hsl(178, 100%, 50%, 60%) ;
  top: 50%;
  left: 50%;
}
.img-top:hover{
  z-index: 3;

}
.faded:hover{
 opacity: 0.5;
 mix-blend-mode: multiply;
}
.faded{
  opacity: 1;
  background-color: hsl(178, 100%, 50%,60%) ;
}
.isolate {
  isolation: isolate; /* Without isolation, the background color will be taken into account */
  position: relative;
}